body {
  background: #e0e1dd;
}

h1 {
  font-size: 4.8rem;
  color: $primary;
}

.chart {
  height: 400px;
}

#app {
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  max-width: $container-width;
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 1em;
  @include bp(med) {
    &_item-1 {
      grid-area: a;
    }
    &_item-2 {
      grid-area: b;
    }
    &_item-3 {
      grid-area: c;
    }
    &_item-4 {
      grid-area: d;
    }
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'a a'
      'b c'
      'd d';
  }
}
